@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Russo+One&display=swap');



h3 {
  font-family: 'Russo One';
  margin-bottom: 0px;
  color: var(--main-green);
  text-shadow: 1px 4px 10px rgba(32, 32, 32, 0.6);
}


ul
 {
  color :aliceblue;
  margin : 20px 0;
 }

 .text{
  cursor: pointer;
 }

 .bg-gray {
  background-color: rgba(136, 141, 139, 0.569)
 }

 .roboto {
  font-family: 'Roboto';
 }

 .white-text {
  color: whitesmoke;
 }



