<nav class="navbar navbar-light bg-light">
  <form [formGroup]="reactiveForm"  (ngSubmit)="getSearchResults()">
    <div class="form-group">
      <label for="movieTitleSearchValue">Search for a Movie</label>
      <input
        type ="text"
        class="form-control"
        id = 'movieTitleSearchValue'
        formControlName="movieTitleSearchValue">
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav>

<h2>Search Results:</h2>
<li *ngFor="let movie of movieTitleList">
{{movie.name}}
</li>
<div>
  <div *ngIf="titleClicked !== ''">
    <h3> {{titleClicked}}</h3>
    <h3> Streaming Services: </h3>
    <h4 *ngFor="let item of results"> {{item.name}}</h4>
  <br>
</div>
<ul class = "text movieList" *ngFor="let movie of movieTitleList">
  <p (click)="streamingServices = clickMovie(movie.id, movie.name)">{{movie.name}}</p>
</ul>
</div>

