nav {
  background-color:rgb(95, 96, 98);
}

h3 {
  color: var(--main-red);
  font-family: 'Russo One', sans-serif;
  background-color: #212529;
  border-radius: 5px;

}

li {
  margin-right: 1em;
}

a {
  color: darkgray;
}

#signOut {
  color: darkgray;
  background-color: #212529;
}

li.divider {
  font-size: larger;
  font-weight: 500;
}
