:root {
  --main-red: #c7493a;
  --main-green: #689775;
  --dark-tan: #917164;
  --light-tan: #ad8174;
  --main-white: rgba(245, 245, 245, 0.824);
}

h1 {
  font-size: 4em;
}

h4 {
  color: var(--main-white)
}

.misc-text {
  color: var(--main-white)
}
