<!-- <p>homepage works!</p> -->

<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Stream Detective</h1>
      <h4>Discover if your favorite shows & movies are on a streaming service</h4>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col">
      <div class="card">
        <img src="https://media.istockphoto.com/photos/magnifying-glass-picture-id649182700?k=6&m=649182700&s=612x612&w=0&h=4r5LIeTaXkCxCHVZWhXHxBlZze-LFpJjDVsH5pwOG-k=">

      </div>
    </div>
    <div class="col">
      <div class="div" *ngIf="onSignIn">
        <app-sign-in></app-sign-in>
       <span class="misc-text">Not a user? </span>  <button class="btn button-secondary" (click)="onClickBoolean('sign in')">Sign up here</button>
      </div>
      <div class="div" *ngIf="onSignUp">
        <app-sign-up></app-sign-up>
        <span class="misc-text">Already a user?</span> <button class="btn button-secondary" (click)="onClickBoolean('sign up')">Sign in here</button>
      </div>
    </div>
  </div>
</div>

