:root {
  --main-red: #c7493a;
  --main-green: #689775;
  --dark-tan: #917164;
  --light-tan: #ad8174;
  --main-white: rgba(245, 245, 245, 0.824);
}

h1 {
  font-size: 4em;
}

h4 {
  color: var(--main-white)
}

.misc-text {
  color: var(--main-white)
}

.card {
  margin-top: 45px;
  margin-left: 45px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 5px;
  border-color: var(--main-red);
}
